# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [1]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://restuBG:tVfEQkdJrKcXe3Z6@atlas.ymksf.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [2]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

In [32]:
# Contoh insert multiple data
employee_data = [
    {'name': 'Bob', 'department': 'Finance', 'age': 32, 'salary': 4800},
    {'name': 'Charlie', 'department': 'IT', 'age': 28, 'salary': 5000},
    {'name': 'Daisy', 'department': 'Marketing', 'age': 35, 'salary': 4700},
    {'name': 'Eve', 'department': 'IT', 'age': 30, 'salary': 5300},
    {'name': 'Frank', 'department': 'Finance', 'age': 27, 'salary': 4400}
]
collection.insert_many(employee_data)
print('Multiple data inserted')

Multiple data inserted

In [33]:
# Update salary untuk karyawan bernama 'Alice'
collection.update_one(
    {'name': 'Alice'},
    {'$set': {'salary': 4600}}
)
print("Data updated for Alice")

# Update semua karyawan di departemen 'Finance' dengan kenaikan gaji 5%
collection.update_many(
    {'department': 'Finance'},
    {'$mul': {'salary': 1.05}}  # Melakukan kenaikan gaji 5%
)
print("Salary updated for Finance department")

Data updated for Alice
Salary updated for Finance department

In [34]:
# Menghapus satu karyawan dengan nama 'Charlie'
collection.delete_one({'name': 'Charlie'})
print("Data deleted for Charlie")

# Menghapus semua karyawan yang berusia di bawah 30 tahun
collection.delete_many({'age': {'$lt': 30}})
print("Data deleted for employees under 30 years old")

Data deleted for Charlie
Data deleted for employees under 30 years old

In [31]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721afe987fa9879e0278a1a'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721b38487fa9879e0278a1c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721b44587fa9879e0278a1e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [26]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [3]:
# Insert multiple product data into MongoDB collection
product_data = [
    {
        "nama_produk": "Laptop XYZ Pro",
        "kategori": "Elektronik",
        "harga": 15000000,
        "stok": 20,
        "deskripsi": "Laptop high-end dengan prosesor Intel i7, RAM 16GB, SSD 512GB.",
        "rating": 4.8,
        "penjual": "Toko Elektronik Jaya"
    },
    {
        "nama_produk": "Smartphone ABC 5G",
        "kategori": "Elektronik",
        "harga": 8000000,
        "stok": 50,
        "deskripsi": "Smartphone dengan jaringan 5G, layar AMOLED 6.5 inci, dan kamera 64MP.",
        "rating": 4.5,
        "penjual": "Ponsel Terbaik"
    },
    {
        "nama_produk": "Headphone Bluetooth",
        "kategori": "Aksesoris",
        "harga": 500000,
        "stok": 100,
        "deskripsi": "Headphone nirkabel dengan kualitas suara jernih dan noise-canceling.",
        "rating": 4.3,
        "penjual": "Gadget Hub"
    },
    {
        "nama_produk": "Meja Kerja Minimalis",
        "kategori": "Furniture",
        "harga": 1200000,
        "stok": 15,
        "deskripsi": "Meja kerja kayu dengan desain minimalis, cocok untuk ruang kantor kecil.",
        "rating": 4.7,
        "penjual": "Furnitur Mantap"
    },
    {
        "nama_produk": "Tas Kulit Asli",
        "kategori": "Fashion",
        "harga": 750000,
        "stok": 30,
        "deskripsi": "Tas kulit asli berwarna coklat dengan desain elegan, cocok untuk kerja.",
        "rating": 4.6,
        "penjual": "Fashionista Shop"
    },
    {
        "nama_produk": "Kursi Gaming",
        "kategori": "Furniture",
        "harga": 2000000,
        "stok": 10,
        "deskripsi": "Kursi gaming ergonomis dengan sandaran yang bisa diatur dan bantalan leher.",
        "rating": 4.9,
        "penjual": "Gamer's Paradise"
    },
    {
        "nama_produk": "Blender Serbaguna",
        "kategori": "Peralatan Dapur",
        "harga": 300000,
        "stok": 25,
        "deskripsi": "Blender serbaguna untuk membuat jus, smoothie, dan saus.",
        "rating": 4.2,
        "penjual": "Dapur Canggih"
    },
    {
        "nama_produk": "Sepatu Running",
        "kategori": "Olahraga",
        "harga": 600000,
        "stok": 40,
        "deskripsi": "Sepatu running dengan bantalan nyaman, cocok untuk lari jarak jauh.",
        "rating": 4.5,
        "penjual": "Sport Center"
    },
    {
        "nama_produk": "Jam Tangan Pintar",
        "kategori": "Elektronik",
        "harga": 1200000,
        "stok": 35,
        "deskripsi": "Jam tangan pintar dengan fitur deteksi detak jantung dan pelacakan aktivitas.",
        "rating": 4.4,
        "penjual": "Wearable Tech"
    },
    {
        "nama_produk": "Baju Kaos Pria",
        "kategori": "Fashion",
        "harga": 150000,
        "stok": 100,
        "deskripsi": "Baju kaos pria berbahan katun, nyaman digunakan sehari-hari.",
        "rating": 4.3,
        "penjual": "Kemeja Santai"
    }
]

# Insert data to collection
insert_result = collection.insert_many(product_data)
print('Data inserted')

Data inserted

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [4]:
db.employees.aggregate([
  { $sort: { department: 1, salary: -1 } },
  { $group: {
      _id: "$department",
      topEmployees: { $push: { name: "$name", salary: "$salary" } }
  }},
  { $project: { topEmployees: { $slice: ["$topEmployees", 5] } } }
]);

SyntaxError: invalid syntax (2502042430.py, line 2)