In [ ]:

"Nama : Restu Wibisono"
"Kelas : Rombel 3"
"Tanggal Lahir : 19 September 2004"
"no hp : +6285156476828"
"alamat : Tambakboyo 01/03 Klepu, Pringsurat, Temanggung 56272"
"Hobi :" "Duduk", "Selimutan"

In [19]:
mahasiswa = [
    {
        "Nama" : "Restu Wibisono",
        "Kelas" : "Rombel 3",
        "Tanggal Lahir" : "19 September 2004",
        "no hp" : "+6285156476828",
        "alamat" : "Tambakboyo 01/03 Klepu, Pringsurat, Temanggung 56272",
        "Hobi" : ["Duduk", "Selimutan", "Bermalas-malasan", "Rebahan"]
    }
]
for pelajar in mahasiswa:
    print("Nama:", pelajar["Nama"])
    print("Kelas:", pelajar["Kelas"])
    print("Tanggal Lahir:", pelajar["Tanggal Lahir"])
    print("no hp:", pelajar["no hp"])
    print("alamat:", pelajar["alamat"])
    print("Hobi:")
    for hobi in pelajar["Hobi"]:
        print('-', hobi)

Nama: Restu Wibisono
Kelas: Rombel 3
Tanggal Lahir: 19 September 2004
no hp: +6285156476828
alamat: Tambakboyo 01/03 Klepu, Pringsurat, Temanggung 56272
Hobi:
- Duduk
- Selimutan
- Bermalas-malasan
- Rebahan

In [1]:
thislist = ["Duduk", "Selimutan", "Rebahan"]
for x in thislist:
  print(x)

Duduk
Selimutan
Rebahan

In [48]:
angka_list = []

for i in range(5):
    angka = int(input("Masukkan angka: "))
    angka_list.append(angka)

angka_list.sort()

print("Angka yang dimasukkan (terurut):", angka_list)

Angka yang dimasukkan (terurut): [2, 4, 5, 6, 7]

In [54]:
#Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange","strawberry")
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'strawberry')

In [3]:
students = [
    {
        'Nama': 'John',
        'Kelas': 'A',
        'Tanggal Lahir': '01-01-2000',
        'no hp': '08123456789',
        'alamat': 'Jl. Contoh No. 123',
        'Hobi': ['Hobi 1', 'Hobi 2', 'Hobi 3']
    }
]
for student in students:
    print('Nama:', student['Nama'])
    print('Kelas:', student['Kelas'])
    print('Tanggal Lahir:', student['Tanggal Lahir'])
    print('no hp:', student['no hp'])
    print('alamat:', student['alamat'])
    print('Hobi:')
    for hobby in student['Hobi']:
        print('-', hobby)
    print()

Nama: John
Kelas: A
Tanggal Lahir: 01-01-2000
no hp: 08123456789
alamat: Jl. Contoh No. 123
Hobi:
- Hobi 1
- Hobi 2
- Hobi 3