In [27]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volum = panjang*lebar*tinggi

print("Panjang =", panjang)
print("Lebar =", lebar)
print("Tinggi =", tinggi)
print("Keliling =", keliling)
print("Volume =", volum)

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

In [47]:

Shafira1 = 85
Amanda1 = 80
Aditya1 = 75
Neida1 = 95
Widya1 = 85
Hanif1 = 75
Andi1 = 70
Dhanar1 = 85
Hikma1 = 80

Shafira2 = 75
Amanda2 = 90
Aditya2 = 80
Neida2 = 80
Widya2 = 85
Hanif2 = 90
Andi2 = 75
Dhanar2 = 85
Hikma2 = 75

total1 = Shafira1+Amanda1+Aditya1+Neida1+Widya1+Hanif1+Andi1+Dhanar1+Hikma1
total2 = Shafira2+Amanda2+Aditya2+Neida2+Widya2+Hanif2+Andi2+Dhanar2+Hikma2

print("1. Rata-rata nilai Shafira pada kedua mata kuliah")
RShafira = (Shafira1+Shafira2)/2
print("Rata-rata nilai Shafira =", RShafira )
print()
print("2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah")
JHA = Hanif1+Hanif2+Andi1+Andi2
print("Jumlah nilai Hanif dan Andi =", JHA)
print()
print("3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah")
RK = (Widya1+Dhanar1+Hikma1+Neida1)/4
RMS = (Widya2+Dhanar2+Hikma2+Neida2)/4
print("Nilai rata-rata pada mata kuliah kalkulus =", RK)
print("Nilai rata-rata pada mata kuliah metode statistika =", RMS)
print()
print("4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa")
R1a = total1/9
R1b = total1//9
print("Nilai rata-rata mata kuliah Kalkulus 1 =", R1a)
print()
print("5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa")
R2a = total2/9
R2b = total2//9
print("Nilai rata-rata mata kuliah Metode Statistika =", R2b)

1. Rata-rata nilai Shafira pada kedua mata kuliah
Rata-rata nilai Shafira = 80.0

2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
Jumlah nilai Hanif dan Andi = 310

3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
Nilai rata-rata pada mata kuliah kalkulus = 86.25
Nilai rata-rata pada mata kuliah metode statistika = 81.25

4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
Nilai rata-rata mata kuliah Kalkulus 1 = 81.11111111111111

5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa
Nilai rata-rata mata kuliah Metode Statistika = 81

In [7]:



print("1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari, berapa gaji yang diterima oleh Dwi.")
gajiA = 28*8*30000
print("Gaji pada Bulan Agustus =", gajiA)
print()
print("2. Apabila terdapat tunjangan bagi karyawan yang bekerja lebih dari 5 tahun sebesar 10% dari total gaji yang diterima setiap bulan, tentukan jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus.")
gajiT = gajiA*10//100
print("Mendapatkan tunjangan =", gajiT)
print()
print("3. Apabila pada bulan Agustus Dwi mendapatkan tugas lembur selama 5 jam, tentukan gaji total yang diterima oleh Dwi pada bulan Agustus. (upah lembur : Rp 10.000,- per jam)")
GajiL = gajiA+gajiT+(5*10000)
print("Gaji dengan kerja lembur =", GajiL)

1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari, berapa gaji yang diterima oleh Dwi.
Gaji pada Bulan Agustus = 6720000

2. Apabila terdapat tunjangan bagi karyawan yang bekerja lebih dari 5 tahun sebesar 10% dari total gaji yang diterima setiap bulan, tentukan jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus.
Mendapatkan tunjangan = 672000

3. Apabila pada bulan Agustus Dwi mendapatkan tugas lembur selama 5 jam, tentukan gaji total yang diterima oleh Dwi pada bulan Agustus. (upah lembur : Rp 10.000,- per jam)
Gaji dengan kerja lembur = 7442000